body {
	background-color: #AEA3B0;
	font-weight: lighter;
	font-family: Arial
}

h1 {
	color: #827081;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: rgb(50, 50, 50);
	font-weight: lighter;
}


 .img-circle {
 	border-radius: 5px
 }

 .shadowed {
 	box-shadow: 5px 5px 3px grey
 }

 #leader {
 	border: 5px solid grey;
 }

 div {
 	background: white;
 	padding: 30px
 	border-radius: 4px;
 	box-shadow: 20px 15px 35px rgba(50,50,93,.1) 	
 	width: 700px;
 	margin: 20px auto;
 }

 .container {
  width: 700px; 
  margin: 40px auto; 
}

.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}